version: 2.1

orbs:
  docker: circleci/docker@1.5.0

jobs:
  lint:
      executor: docker/machine
      steps:
        - checkout
        - docker/dockerlint:
            dockerfile: web/Dockerfile
  
  check_docker_image_building:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run:
          name: Build nginx image
          command: docker build -t nginx:check ./web
     
  check_docker_compose_up_command_AND_main_page_availability:
     machine:
      image: ubuntu-2004:202101-01
     steps:
      - checkout
      
      - run:
          name: Run docker-compose up command
          command: docker-compose up -d
      
      - run:
          name: Save artifact and check login page availability
          command: |
             docker-compose logs > /tmp/log.txt
             curl -u gleb:Aa1234 --insecure -H 'OCS-APIRequest: true' -H 'cloud.example.com' https://127.0.0.1:8080/ocs/v2.php/core/getapppassword -I | grep '200 OK'
             docker-compose logs > /tmp/log.txt
             
      - store_artifacts:
           path: /tmp/log.txt
           
workflows:
  check_container_environment:
    jobs:
      - lint:
          filters:
      - check_docker_image_building:
          requires:
            - lint
      - check_docker_compose_up_command_AND_main_page_availability:
          requires:
             - check_docker_image_building
